{% load humanize %}
<div id="poOutModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width: 600px;">
        <div class="w3-container w3-blue">
            <h3>Create PO Out</h3>
            <span onclick="closeModal('poOutModal')" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div class="w3-padding">
            <p>PO Out functionality coming soon...</p>
            <button type="button" onclick="closeModal('poOutModal')" class="w3-button w3-red w3-round">Close</button>
        </div>
    </div>
</div>